.grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  gap: 8px; 
}

[class*="col-"] {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
}

.flex{
  display: block;
  width: 100%;
}


.row{
  display:flex;
  flex-wrap: wrap;
  background:greenyellow;
  
}

.grid{
  background:greenyellow;
}
.grid *,
.flex .row * {
  background: pink;
  border: 1px solid #000000;
  margin-top: 10px;
}

/*Completar*/
@media screen and (min-width: 600px){
  .grid .columns-12 { grid-column: span 12; }
  .grid .columns-11 { grid-column: span 12; } 
  .grid .columns-10 { grid-column: span 12; }
  .grid .columns-9  { grid-column: span 12; }
  .grid .columns-8  { grid-column: span 3; }
  .grid .columns-7  { grid-column: span 7; }
  .grid .columns-6  { grid-column: span 2; }
  .grid .columns-5  { grid-column: span 12; }
  .grid .columns-4  { grid-column: span 12; }
  .grid .columns-3  { grid-column: span 4; }
  .grid .columns-2  { grid-column: span 4; }
  .grid .columns-1  { grid-column: span 4; }
}

/* 💻 Escritorio (mínimo 1024px) */
@media screen and (min-width: 1024px){
  .grid .columns-12 { grid-column: span 12; }
  .grid .columns-11 { grid-column: span 12; } 
  .grid .columns-10 { grid-column: span 12; }
  .grid .columns-9  { grid-column: span 12; }
  .grid .columns-8  { grid-column: span 12; }
  .grid .columns-7  { grid-column: span 4; }
  .grid .columns-6  { grid-column: span 8; }
  .grid .columns-5  { grid-column: span 6; }
  .grid .columns-4  { grid-column: span 6; }
  .grid .columns-3  { grid-column: span 6; }
  .grid .columns-2  { grid-column: span 3; }
  .grid .columns-1  { grid-column: span 3; }
}

.grid * {
  grid-column: span 12;
}